*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/playground/*/build
/app/release
*.apk
*.aab
*.jks
*.keystore
.kotlin/
.gradle-local/
/projects/
