<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".debug.DetailScreenshotActivity"
            android:exported="true"
            android:theme="@style/Theme.Yoin" />
        <activity
            android:name=".debug.MemoriesScreenshotActivity"
            android:exported="true"
            android:theme="@style/Theme.Yoin" />
        <provider
            android:name=".debug.SpotifyTokenExportProvider"
            android:authorities="${applicationId}.debug.spotifytoken"
            android:exported="true"
            android:readPermission="android.permission.DUMP" />
    </application>

</manifest>
